<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-nav">
    <button
      class="btn btn-secondary"
      *ngIf="title === 'Planet'"
      (click)="onBackClick()"
    >
      Back
    </button>
  </div>
  <div class="brand-container">
    <div class="navbar-brand">{{ title }}</div>
  </div>
  <div class="navbar-nav">
    <button
      class="btn btn-secondary"
      *ngIf="title !== 'Planet'"
      [disabled]="clicked"
      clicked = true;
      (click)="onOfflineClick()"
    >
      Go Offline
    </button>
  </div>
</nav>
