<div class="panel panel-primary" id="result_panel">
  </div>
  <div class="input-group mb-3 mt-3">
    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search Character"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let characterName of characterNamesArr | filter: searchText"
        [ngClass]="{'active': selectedCharacter === characterName}"
        (click)="onClickDetail($event, characterName)"
      >
        {{ characterName }}
      </li>
    </ul>
  </div>

