<div class="row mx-auto content-container flex-nowrap" *ngIf="planetData">
  <div class="label-container col-sm-6">
    <div>Name:</div>
    <div>Rotation Period:</div>
    <div>Orbital Period:</div>
    <div>Diameter:</div>
    <div>Climate:</div>
    <div>Gravity:</div>
    <div>Terrain:</div>
    <div>Surface Water:</div>
    <div>Population:</div>
  </div>
  <div class="data-container col-sm-6">
    <div>{{ planetData.name }}</div>
    <div>{{ planetData.rotation_period }}</div>
    <div>{{ planetData.orbital_period }}</div>
    <div>{{ planetData.diameter }}</div>
    <div>{{ planetData.climate }}</div>
    <div>{{ planetData.gravity }}</div>
    <div>{{ planetData.terrain }}</div>
    <div>{{ planetData.surface_water }}</div>
    <div>{{ planetData.population }}</div>
  </div>
</div>
